.password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.labels {
  margin-bottom: 10px;
}

.inputs {
  margin-bottom: 10px;
  padding: 5px;
}

.password__show-login {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.buttons {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.buttons:hover {
  background-color: #0056b3;
}

.password__shows {
  margin-bottom: 10px;
  padding: 5px;
}

.password__show-password {
  padding: 5px;
  height: 25px;
  width: 65%;
  border-radius: 8px;
  background-color: #00f7ff;
  border: none;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}